* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-container {

    background: #00204d;
}

.page-form {
    background: aliceblue;
    width: 600px;
    height: 500px;
    margin: 0 auto;
}

